@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

/*Variables*/
:root {
  --background-color: #121212;
  --surface-color: #212121;
  --primary-text: #f5f5f5;
  --secondary-text: #eeeeee;
  --primary-font-famiy: "Roboto", sans-serif;
}

/*Global tags*/
body {
  background-color: var(--background-color);
  color: var(--primary-text);
  font-family: var(--primary-font-famiy);
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

/*Header*/
.header {
  height: 100vh;
  width: 100%;
  position: relative;
}

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-background {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  filter: brightness(0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*Header > Menu*/
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
}
.menu.responsive > .menu-item {
  display: block;
}

.menu-item {
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.8rem 0;
  width: 100%;
  text-align: center;
  display: none;
}

.menu-item:hover {
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.menu-button {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.2rem;
  margin-left: auto;
  background: none;
  border: none;
  color: var(--primary-text);
}

.menu-button > i {
  font-size: 2rem;
}

/*Presentation*/
.presentation {
  padding: 1rem;
  font-size: 1.4rem;
}
/*Responsivo*/
@media screen and (min-width: 600px) {
  .menu {
    flex-direction: row;
    max-width: 600px;
  }
  .menu-item {
    display: block;
  }
  .menu-button {
    display: none;
  }
}
