@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

/*Variables*/
:root {
  --background-color: #f5f5f5;
  --surface-color: #ffffff;
  --primary-text: #121212;
  --secondary-text: #212121;
  --primary-font-famiy: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

/*Global tags*/
::before,
::after {
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: #f5f5f5;
  font-family: var(--primary-font-famiy);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

button:focus {
  outline: none;
}

/*Header*/
.header {
  height: 100vh;
  width: 100%;
  position: relative;
}

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-background {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  filter: brightness(0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*Header > Menu*/
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
}
.menu.responsive > .menu-item {
  display: block;
}

.menu-item {
  font-family: var(--secondary-font-family);
  color: #f5f5f5;
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.8rem 0;
  text-align: right;
  padding-right: 2rem;
  display: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  font-weight: 300;
}

.menu-item:hover {
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.menu-button {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.2rem;
  margin-left: auto;
  background: none;
  border: none;
  color: var(--primary-text);
}

.menu-button > i {
  font-size: 2.5rem;
  color: #f5f5f5;
}

/*Presentation*/
.presentation {
  padding: 1rem;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.presentation-title {
  font-size: 2.8rem;
  margin: 0.5rem 0;
  font-weight: 300;
}

.presentation-subtitle {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  font-weight: 300;
}

/*Separator*/
.separator {
  height: 2px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/*sections*/
.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  padding: 0.5rem;
  width: 100%;
}

.section-title {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  color: var(--primary-text);
}

.section-content {
  color: var(--secondary-text);
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-content > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
}

/*Responsivo*/
@media screen and (min-width: 600px) {
  /*Responsive Menu*/
  .menu {
    flex-direction: row;
    max-width: 600px;
  }
  .menu-item {
    display: block;
  }
  .menu-button {
    display: none;
  }
  /*Responsive presentation*/
  .presentation-title {
    font-size: 3.2rem;
  }
  .presentation-subtitle {
    font-size: 1.8rem;
  }
  /*Responsive sections*/
  .section .container {
    max-width: 800px;
  }
}
