@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  background-image: url("../assets/img/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.topbar {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100vw;
  animation: linear 1.5s animationMenu;
}

@keyframes animationMenu {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu__items {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: center;
}

.menu__item {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0 1rem;
  transition: opacity 0.5s;
}

.menu__item:hover {
  cursor: pointer;
  filter: opacity(0.6);
}

.profile {
  color: #fafafa;
  padding: 2rem 1.2rem;
  background-color: #000000;
  margin: 0 5%;
  animation: linear 1.5s animationProfile;
}

@keyframes animationProfile {
  0% {
    transform: scale(0.2) translateY(50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.profile__name {
  font-size: 2.6rem;
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  .profile__name {
    font-size: 4rem;
  }
}

.profile__ocupation {
  font-size: 1.4rem;
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  .profile__ocupation {
    font-size: 2rem;
  }
}
.portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.title {
  color: #ffffff;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
}

.projects {
  padding: 2em;
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0.2em;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #000000;
  border-radius: 10px;
}

.card__img {
  width: 100%;
  height: 400px;
}

.card__img > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  filter: grayscale(1);
}
