@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 10px;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.topbar {
  background-image: url("../assets/img/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .topbar {
    height: 70vh;
  }
}

.menu {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu__items {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: center;
}

.menu__item {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0 6px;
  transition: opacity 0.5s;
}

.menu__item:hover {
  cursor: pointer;
  filter: opacity(0.6);
}

.profile {
  color: #fafafa;
  padding: 2rem 1.2rem;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 5%;
}

.profile__name {
  font-size: 2.6rem;
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  .profile__name {
    font-size: 4rem;
  }
}

.profile__ocupation {
  font-size: 1.4rem;
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  .profile__ocupation {
    font-size: 2rem;
  }
}
